<html>
        <head>
            <title>Django blog</title>
        </head>
        <body>
            <div>
                <h1><a href="">Django Blog Web</a></h1>
            </div>

            <div>
                <p>published: 26.08.2014, 23:14</p>
                <h2><a href="">My first post</a></h2>
                <p><em>Django(gdh/ˈdʒæŋɡoʊ/jang-goh) es un framework para aplicaciones web gratuito y open source, escrito en Python. Es un WEB framework - un conjunto de componentes que te ayudan a desarrollar sitios web más fácil y rápidamente.</em></p>
            </div>

            <div>
                <p>published: 26.08.2014, 23:14</p>
                <h2><a href="">My second post</a></h2>
                <p><em>Para entender para que es Django, necesitamos mirar mas de cerca a los servidores. Lo primero es que el servidor necesita saber que quieres que te sirva una página web.</em></p>
            </div>
        </body>
    </html>